//
// Layout
// --------------------------------------------------

// Sizing
// ----------

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: $base-unit; // default is 16px
}

// Scaling
// ----------

body {
  background: $base-bg;
  font-size: $base-font-size; // 12px
  line-height: $base-line-height; // default is 1.5
  margin: 0;
  min-width: 20em;

  @media only screen and (min-width: $screen-sm) {
    font-size: 1em; // 16px
  }

  @media only screen and (min-width: $screen-md) {
    font-size: 1.25em;  // 20px
  }

  @media only screen and (min-width: $screen-lg) {
    font-size: 1.5em; // 24px
  }

  @media only screen and (min-width: $screen-xl) {
    font-size: 1.75em; // 28px
  }

}

// Structure
// ---------------------
.wrapper {
  margin: 0 auto;
  padding: 0 1.5em;
}

footer {
  padding: $spacing-v $spacing-h;
  text-align: center;
}

.site-info {
  padding: $spacing-v * 4 0;
}


// helpers
// ---------------------
.pull-left {
  float: left!important;
}
