//
// Skin
// --------------------------------------------------

// Component Variables
$skin-dark-bg: #3a3a3a;
$skin-dark-color: #999;
$skin-dark-heading-color: #ccc;

.skin-dark {
  background: $skin-dark-bg;
  color: $skin-dark-color;

  // typography

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $skin-dark-heading-color;

    em {
      color: #fff;
      font-style: normal;
    }
  }

  p,
  li {
    color: inherit;
  }

  // link and buttons

  a {
    color: $brand-primary;
  }

  .btn {
    background: $skin-dark-bg;
    border-color: $skin-dark-color;
    color: $skin-dark-color;

    &:hover,
    &:focus {
      border-color: #fff;
      color: #fff;
    }
  }

  // Components

  &.menu-bar {
    background: rgba(0,0,0,0.125);

    .logo {
      color: rgba(255,255,255,0.75);

      &:hover {
        color: #fff;
      }
    }

  }

}
