//
// Styleguide
// --------------------------------------------------

// Core Variables & Mixins
@import "sass/core/variables";
@import "sass/core/mixins";


// Styleguide Styles


// // Menu

// .menu-bar {
//   position: fixed;
//   z-index: 1000;
//   top:0;
//   left:0;
//   height: 100%;
//   border-left:0.25em solid $brand-primary;
// }

// .menu-trigger {
//   padding: $padding-v $padding-h;
//   background: rgba(255,255,255,0.9);
//   display: block;
//   color: $brand-primary;

//   small {
//     font-weight: bold;
//     margin-left: .25em;
//   }
// }


// #menu {
//   display: none;
//   position: fixed;
//   height: 100%;
//   top:2.5em;
//   left:0.25em;
//   background: rgba(255,255,255,0.9);
//   opacity: 0;
//   transition: opacity 0.25s ease-in-out;
//   -moz-transition: opacity 0.25s ease-in-out;

//   a {
//     padding: $padding-v $padding-h;
//     display: block;
//     &:hover {
//       background: lighten($shade-lightest, 3%);
//     }
//   }
// }

// #menu:target {
//   display: block;
//   opacity: 1;
// }

// Color Palette
// ----------------------

.palette {
  margin-left:0;
  margin-right:0;
  margin-bottom: 1rem;

  [class*="swatch-"] {
    color:#fff;
    font-size: 0.75em;
    text-align: center;
    padding-top: $padding-v*4;
    padding-bottom: $padding-v*4;
  }

  .swatch-darkest {
    background: $shade-darkest;
  }

  .swatch-darker {
    background: $shade-darker;
  }

  .swatch-dark {
    background: $shade-dark;
  }

  .swatch-mid {
    background: $shade-mid;
  }

  .swatch-light {
    background: $shade-light;
  }

  .swatch-lighter {
    background: $shade-lighter;
  }

  .swatch-lightest {
    background: $shade-lightest;
    color:$shade-mid;
  }

  .swatch-primary {
    background:$brand-primary;
  }

  .swatch-secondary {
    background:$brand-secondary;
  }

  .swatch-danger {
    background:$alert-danger;
  }

  .swatch-warning {
    background:$alert-warning;
    color:$shade-mid;
  }

  .swatch-success {
    background:$alert-success;
  }

  .swatch-info {
    background:$alert-info;
  }

}

// Fonts
// ----------------------

.font-serif {
  font-family: $font-serif;
}

.font-sans {
  font-family: $font-sans;
}

.font-mono {
  font-family: $font-mono;
}

.font-hand {
  font-family: $font-hand;
}

