//
// Tables
// --------------------------------------------------


table {
  width: 100%;
}

tr > {
  td, th {
    border: 0;
    border-bottom: 1px solid $base-border-color;
    padding: $padding-v;
    padding-left: 0;
  }
}

th, 
table caption {
  text-align: left;
  color: $heading-color;
}

table caption {
  font-size: 1.25em;
  margin-top: 2rem;
}

// tr:nth-child(even) {
//   background: $shade-lightest;
// }