//
// Variables
// --------------------------------------------------

// Global
// -------------------------

$base-unit:             16px; // Equal to browser default
$base-font-size:        $base-unit; // 12px
$base-line-height:      1.5;


// Padding & Spacing
// -------------------------

// used for padding inside components/elements
$padding-v: 0.5em;
$padding-h: 1em;

// used for spacing around/between elements
$spacing-v: $base-unit;
$spacing-h: $base-unit;


// Colors
// -------------------------

$shade-darkest:         #222;
$shade-darker:          #444;
$shade-dark:            #666;
$shade-mid:             #888;
$shade-light:           #AAA;
$shade-lighter:         #CCC;
$shade-lightest:        #eee;

$brand-primary:         #f66;
$brand-secondary:       lighten($brand-primary,10%);

$alert-danger:          #F36;
$alert-warning:         #FF6;
$alert-success:         #9F9;
$alert-info:            #39F;

// Fonts
// -------------------------

$font-serif:            'Merriweather',Georgia,Cambria,"Times New Roman",Times,serif;
$font-sans:             lato,'Merriweather Sans',"Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
$font-mono:             courier,"courier new", monospace;
$font-hand:             cursive;

// Base 
// -------------------------

$base-font:             $font-sans;
$base-bg:               #FFF;
$base-bg-dark:          darken($base-bg,5%);
$base-bg-light:         lighten($base-bg,5%);
$base-border-color:     $shade-lighter;
$base-border-radius:    .25em;


// Typograhpy 
// -------------------------

$heading-font:          $font-sans;
$heading-color:         $shade-darker;
$heading-weight:        900;
$heading-transform:     none;
$heading-line-height:   1;

$text-color:            #666;
$text-weight:           300;
$text-selection-bg:     #d4eef9;
$text-selection-color:  $shade-darkest;

$code-font:             $font-mono;

// Links
// -------------------------

$link-color:            #39F; // try a nice blue #338dc9
$link-hover-color:      darken($link-color,10%);
$link-hover-bg:         #d4eef9; 
$link-active-color:     $link-hover-color;


// Buttons
// -------------------------

$btn-font:                      $heading-font;
$btn-padding:                   $padding-v $padding-h *1.5;
$btn-bg:                        $base-bg;
$btn-color:                     $brand-primary;
$btn-border-color:              $btn-color;
$btn-border-radius:             0;
$btn-hover-bg:                  lighten($btn-color, 25%);
$btn-hover-color:               darken($btn-color, 5%);
$btn-hover-border-color:        lighten($btn-border-color, 5%);
$btn-disabled-bg:               $shade-lightest;
$btn-disabled-color:            $shade-lighter;
$btn-disabled-border-color:     $shade-lighter;

// Forms
// -------------------------

$placeholder-text-color:		$shade-mid;


// Screen Sizes - for use with breakpoint MQs
// -------------------------

$screen-xs: 24em;
$screen-sm: 30em;
$screen-md: 50em;
$screen-lg: 70em;
$screen-xl: 90em;


// Grid system (from Bootstrap)
// -------------------------

$grid-columns: 12; // Number of columns in the grid system
$grid-gutter-width: $base-unit *2; // Padding, to be divided by two and applied to the left and right of all columns
$grid-float-breakpoint: $screen-md; // Point at which the navbar stops collapsing

// Container sizes
// --------------------------------------------------

// Small screen / tablet
$container-tablet: ((720px + $grid-gutter-width)) !default;

// Medium screen / desktop
$container-desktop: ((940px + $grid-gutter-width)) !default;

// Large screen / wide desktop
$container-lg-desktop: ((1140px + $grid-gutter-width)) !default;
