//
// Menu bar
// --------------------------------------------------

.menu-bar {
  width:100%;
  background: rgba(0,0,0,0.125);
  background-blend-mode: difference, normal; // Chrome Canary
  -webkit-background-blend-mode: difference, normal;

  a {
    color: $text-color;
    padding: $padding-v $padding-h;
    display: inline-block;
    border-right:1px solid $base-border-color;
  }

  input {
    margin-bottom: -1px;
    border-top:0;
    padding: $padding-v + 0.2em 0;
    text-indent: 1em; 
  }

  &.fixed { // if used add fixed .has-menu-bar-fixed to body
    position: fixed;
    top: 0;
    left: 0;
    z-index:1001;
    opacity: 0.75;
    -webkit-transition:opacity .15s ease-in-out;
    -moz-transition:opacity .15s ease-in-out;
    -o-transition:opacity .15s ease-in-out;
    transition:opacity .15s ease-in-out;

    &:hover {
      opacity: 1;
    }

  }

  .search-form {
    float: right;
  }

  .logo {
    font-size: 1em;
    padding: $padding-v $padding-h;
    margin: 0;
    color:rgba(0,0,0,0.5);

    &:hover {
      color: #333;
    }

  }

}